<a href="https://colab.research.google.com/github/arundhathips/DataScienceLab_arundhathi10/blob/main/NLTK_arundhathips_15_02_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim: Implement problems on natural language processing - Part of Speech
tagging, N-gram & smoothening and Chunking using NLTK

Short notes:

The **Natural Language Toolkit (NLTK)** is a platform used for building programs for text analysis. One of the more powerful aspects of the NLTK module is the Part of Speech tagging.

**Part-of-speech (POS)** tagging is a process of converting a sentence to forms – list of words, list of tuples (where each tuple is having a form (word, tag)). The tag in case of is a part-of-speech tag, and signifies whether the word is a noun, adjective, verb, and so on.

**keywords**:

Corpus : Body of text, singular. Corpora is the plural of this.

Lexicon : Words and their meanings.

Token : Each “entity” that is a part of whatever was split up based on rules.

**Tags and their meanings**

CD cardinal digit

EX existential there (like: “there is” … think of it like “there exists”)

FW foreign word

IN preposition/subordinating conjunction

JJ adjective ‘big’

JJR adjective, comparative ‘bigger’

JJS adjective, superlative ‘biggest’

NN noun, singular ‘desk’

NNS noun plural ‘desks’

NNP proper noun, singular ‘Harrison’

NNPS proper noun, plural ‘Americans’

PDT predeterminer ‘all the kids’

POS possessive ending parent‘s

PRP personal pronoun I, he, she

PRP$ possessive pronoun my, his, hers

RB adverb very, silently,

RBR adverb, comparative better

RBS adverb, superlative best

RP particle give up

**N-grams** are continuous sequences of words or symbols or tokens in a document. In technical terms, they can be defined as the neighbouring sequences of items in a document. 

**Steps for n-gram model:**

Explore the dataset

Feature extraction

Train-test split

Basic pre-processing

Code to generate N-grams

Creating unigrams

Creating bigrams

Creating trigrams

In [ ]:

from nltk.corpus.reader import tagged
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize,word_tokenize 
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
sw=set(stopwords.words('english'))

#Dummy text
txt="Hello.I am Arundhathi.I am from piravom."
  
# sent_tokenize is one of instances of 
# PunktSentenceTokenizer from the nltk.tokenize.punkt module
tokenized=nltk.word_tokenize(txt)  
for i in tokenized:

      
    # Word tokenizers is used to find the words 
    # and punctuation in a string
    wordlist=word_tokenize(i)
  
    # removing stop words from wordList
    wordlist=[w for w in wordlist if not w in sw]
    
  
    #  Using a Tagger. Which is part-of-speech 
    # tagger or POS-tagger. 
    tagged=nltk.pos_tag(wordlist)
    print(tagged)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[('Hello.I', 'NN')]
[]
[('Arundhathi.I', 'NN')]
[]
[]
[('piravom', 'NN')]
[('.', '.')]

In [ ]:
print(sw)

{'yourselves', "should've", 'needn', 'into', 'ours', 'we', 'her', 'this', "didn't", 'being', 'it', 'that', 'which', 'over', 'she', "shouldn't", 'themselves', 'such', "aren't", 'not', 'didn', 'mightn', 'wouldn', 'any', 'other', 'than', 'ain', 'whom', 'then', 'haven', 'was', 'where', 'he', 'its', "needn't", 'about', 'how', 'theirs', 'couldn', 'as', 'do', 't', 'is', 'you', 'further', 'our', 'who', 'your', 'between', 'll', "won't", 'no', 'now', 'once', 'same', "hadn't", 'yourself', 'so', 'at', 'if', 've', 'a', 'doesn', 'them', 'own', "don't", 'before', "you'll", 'they', 'were', 'been', 'down', 'should', 'all', 'only', 'weren', "you're", 'ourselves', 'these', 'nor', 'o', 'very', 'm', 'with', 's', 'me', 'isn', 'my', 'the', 'mustn', "couldn't", "isn't", 'too', 'above', "that'll", 'hadn', "wasn't", 'of', 'those', 'some', 'him', 'against', "haven't", "doesn't", 'while', 'in', 'having', 'myself', 'had', 'can', 'aren', 'am', 'on', "you'd", 'itself', 'does', 'to', "you've", 'shouldn', 'did', 're', 'hers', 'up', 'each', 'what', 'have', 'be', 'below', 'off', 'from', 'y', 'his', "mustn't", 'when', 'an', 'more', 'd', 'most', 'just', 'will', "shan't", 'through', 'few', 'herself', 'there', 'but', 'why', 'out', "wouldn't", 'yours', 'because', 'are', 'during', 'both', 'again', "hasn't", 'until', 'and', "mightn't", 'i', 'or', 'by', 'himself', 'after', 'under', 'their', 'shan', 'wasn', 'hasn', "it's", "weren't", 'don', 'ma', 'won', 'here', "she's", 'for', 'doing', 'has'}

In [ ]:
print(tokenized)

['Hello.I', 'am', 'Arundhathi.I', 'am', 'from', 'piravom', '.']

N-gram model

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(style='seaborn')
#get the data from https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news/version/5

colname=['Sentiment','news']

df=pd.read_csv('all-data.csv',encoding="ISO-8859-1",names=colname)
df.head()

  Sentiment                                               news
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentiment  4846 non-null   object
 1   news       4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df['Sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [ ]:
y=df['Sentiment'].values
y.shape

(4846,)

In [ ]:
x=df['news'].values
x.shape

(4846,)

In [ ]:
#Split train dataset 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(2907,)
(2907,)
(1939,)
(1939,)

In [ ]:
#Make train dataset as a dataframe
df1=pd.DataFrame(x_train)
df1=df1.rename(columns={0:'news'})
df2=pd.DataFrame(y_train)
df2=df2.rename(columns={0:'sentiment'})
df_train=pd.concat([df1,df2],axis=1)
df_train.head()

                                                news sentiment
0  Stonesoft is a global provider of proven , nex...   neutral
1  However , the net sales declined to EUR 803.6 ...  negative
2  The maritime administration said the ships had...  negative
3  In January-June 2010 , diluted loss per share ...  negative
4  Nevertheless , Fitch notes that the business f...  positive

In [ ]:
#Make test dataset as a dataframe
df3=pd.DataFrame(x_test)
df3=df3.rename(columns={0:'news'})
df4=pd.DataFrame(y_test)
df4=df4.rename(columns={0:'sentiment'})
df_test=pd.concat([df3,df4],axis=1)
df_test.head()

                                                news sentiment
0  The company 's objective is to offer the best ...   neutral
1  The official opening of the office , located i...   neutral
2  In sales volume , Coca-Cola 's market share ha...  negative
3  According to the original merger plan , Scanfi...   neutral
4  The economic occupancy rate of Sponda 's prope...  positive

In [ ]:
#removing punctuations
#library that contains punctuation

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:

#defining the function to remove punctuation
def remove_punctuation(text):
  if(type(text)==float):
    return text
  ans=""
  for i in text:
    if i not in string.punctuation:
      ans+=i
  return ans

In [ ]:
str="my name is- aru@"
remove_punctuation(str)

'my name is aru'

In [ ]:
#storing the puntuation free text in a new column called clean_msg

df_train['news']=df_train['news'].apply(remove_punctuation)
df_test['news']=df_test['news'].apply(remove_punctuation)
df_train.head()
#punctuations are removed from news column in train dataset

                                                news sentiment
0  Stonesoft is a global provider of proven  next...   neutral
1  However  the net sales declined to EUR 8036 mi...  negative
2  The maritime administration said the ships had...  negative
3  In JanuaryJune 2010  diluted loss per share st...  negative
4  Nevertheless  Fitch notes that the business fu...  positive

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#method to generate n-grams:
#params:
#text-the text for which we have to generate n-grams
#ngram-number of grams to be generated from the text(1,2,3,4 etc., default value=1)

def generate_N_grams(text,ngram=1):
  words=[word for word in text.split(" ") if word not in set(stopwords.words('english'))]
  print("Sentences after removinf stopwords:",words)
  temp=zip(*[words[i:] for i in range(0,ngram)])
  ans=[''.join(ngram) for ngram in temp]
  return ans

In [ ]:
name=['arundhathi','ps']
s=' '.join(name)
s

'arundhathi ps'

In [ ]:
generate_N_grams("The sun rises in the east",2)

Sentences after removinf stopwords: ['The', 'sun', 'rises', 'east']

['Thesun', 'sunrises', 'riseseast']

In [ ]:
generate_N_grams("The sun rises in the east",3)

Sentences after removinf stopwords: ['The', 'sun', 'rises', 'east']

['Thesunrises', 'sunriseseast']

In [ ]:
generate_N_grams("The sun rises in the east",4)

Sentences after removinf stopwords: ['The', 'sun', 'rises', 'east']

['Thesunriseseast']

In [ ]:
s1=['abeel','adithya','akash','akshaya']
s2=['1','2','3','4']
s3=zip(s1,s2)
print(set(s3))

{('adithya', '2'), ('abeel', '1'), ('akshaya', '4'), ('akash', '3')}